.textarea{  
  background:#dedede;
  font-size: 14px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px; 
  border: 1px solid black;
  height: 150px;
  width: 50%;

}  
.container{
  width: 80%;
  margin: 0 auto;
}
.formulario{
  width: 100%;
  margin:0 auto;
  align-content: center;
  text-align: center;
}